@media (max-width:1024px)and (min-width:1020px) {
  .nav-item{
    font-size: 2vh;
  }
}

@media (max-width:1100px){

    .card-blog{
      height: auto;

    }
    .header-img{
      display: none;
    }

@media (max-width:1050px){
  .heading{
    font-size:57px;
    line-height: 65px;
  }
}
@media (max-width:610px){
  .chef-card{
    border-color: transparent;
  }
}

@media (max-width:620px)and (min-width:570px) {
  .heading{
    font-size:57px;
    line-height: 65px;
  }
  .heading-span{
    font-size:51px;
  }
  .heading-btn{
    font-size: 20px;
    font-weight: bolder;
    padding: 7px 5px 7px 5px;
    margin-top: auto;}
}
@media (max-width:570px)and (min-width:520px) {
  .heading{
    font-size:55px;
    line-height: 63px;
  }
  .heading-span{
    font-size:50px;
  }
  .heading-btn{
    font-size: 18px;
    font-weight: bolder;
    padding: 7px 7px 7px 7px;
  }
}
@media (max-width:540px)and (min-width:480px) {
  .heading{
    font-size:50px;
    line-height: 55px;
  }
  .heading-span{
    font-size:45px;
  }
  .heading-btn{
    font-size: 16px;
    font-weight: bolder;
    padding: 7px 7px 7px 7px;
}}
@media (max-width:480px)and (min-width:420px) {
  .heading{
    font-size:45px;
    line-height: 55px;
  }
  .heading-span{
    font-size:40px;
  }
  .heading-btn{
    font-size: 14px;
    font-weight: bolder;
    padding: 7px 7px 7px 7px;
}}

@media (max-width:420px)and (min-width:380px) {
  .heading{
    font-size:40px;
    line-height: 50px;
  }
  .heading-span{
    font-size:35px;
  }
  .heading-btn{
    font-size: 14px;
    font-weight: bolder;
    padding: 7px 7px 7px 7px;
}}
@media (max-width:380px)and (min-width:330px) {
  .heading{
    font-size:35px;
    line-height: 40px;
  }
  .heading-span{
    font-size:30px;
  }
  .heading-btn{
    font-size: 14px;
    font-weight: bolder;
    padding: 7px 7px 7px 7px;
}}
@media (max-width:380px)and (min-width:320px) {
  .heading{
    font-size:30px;
    line-height: 38px;
  }
  .heading-span{
    font-size:28px;
  }
  .heading-btn{
    font-size: 13px;
    font-weight:bolder;
    padding: 7px 7px 7px 7px;
}

}

@media (max-width:340px)and (min-width:335px){
.blog-welcome-heading{
 font-size: xx-large;
}
.blog-page{
  width:18rem;
}
}
@media (max-width:335px)and (min-width:0px){
  .blog-page{
    width:16rem;
  }
  .card-text-blog{
    font-size: 14px;
  }
}

@media (max-width:450px)and (min-width:360px){
.blog-welcome-heading{
 font-size: 40px;
}
}
@media (max-width:360px)and (min-width:40px){
.blog-welcome-heading{
 font-size: 30px;
}
}
@media (max-width:320px)and (min-width:0px) {
  .heading{
    font-size:28px;
    line-height: 30px;
    padding-top: 38vh;
    padding-left: 12px;
  }
  .heading-span{
    font-size:25px;
  }
  .heading-buttons{
    padding-left: 24px;
  }
  .heading-btn{
    font-size: 14px;
    font-weight: bolder;
    padding: 7px 7px 7px 7px;
}
}}


/* ...................contact us page ...............  */
@media (max-width:410px)and (min-width:310px){
  .contact-us-heading{
    font-size: 50px; 
   }
   .contact-page-heading span{
    margin-bottom: 3px;
   }
   .contact-page-heading{
    font-size: 17px;
    margin-top: 4px;
   }
  
}
@media (max-width:310px)and (min-width:0px){
  .contact-us-heading{
    font-size: 40px; 
   }
   .contact-page-heading span{
    margin-bottom: 6px;
   }
   .contact-page-heading{
    font-size: small;
    margin-top: 4px;
   }
}

/* ...................about us page...............  */
/* for z-fold screen   */
@media (max-width:320px)and (min-width:0px){
  .menu-selecter{
    font-size: 40px;
   }
  .upcoming-event{
    color: #ffc107;
    font-size: 48px;
    font-family: 'Arvo', serif;
    font-weight: bold;
  }
  .event-btn{
     font-size: 20px;
  }
  .blog-name{
    width: 40%;
  }
}

@media (max-width:1230px)and (min-width:992px){
  .video-section{
    font-size: medium;
  }
  .video-btn{
    font-size: medium;
  }
  .video-list{
    margin: 0vh 1vh 0vh 1vh;
  }
  .contant-para{
    margin: 0vh 2vh 0vh 2vh;
  }
  
  .video-txt-list{
    margin-top: 3vh;
  }
  .video-txt-list2{
    margin-top: 2vh;
  }
}
.blog-name{
  width: 35%;
}

@media (max-width:992px)and (min-width:540px){
  .video-section{
    font-size: x-large;
  }
  .video-btn{
    font-size: medium;
  }
  .video-button{
    margin-bottom:  15vh;
  }
  .watch-video-icon{
    display: none;
  }

}

@media (max-width:540px)and (min-width:440px){
  .video-section{
    font-size: large;
  }
  .video-btn{
    font-size: small;
  }
  .video-button{
    margin-bottom:  15vh;
  }
  .watch-video-icon{
    display: none;
  }
  .video-list{
    margin: 0vh 1vh 0vh 2vh;
  }
  .contant-para{
    margin: 0vh 1vh 0vh 2vh;
  }
  
  .video-txt-list{
    margin-top: 3vh;
  }
  .video-txt-list2{
    margin-top: 2vh;
  }
}
@media (max-width:440px)and (min-width:380px){
  .video-section{
    font-size: medium;
  }
  .video-btn{
    font-size: small;
  }
  .video-button{
    margin-bottom:  15vh;
  }
  .watch-video-icon{
    display: none;
  }
  .contant-heading{
    font-family: 'Arvo', serif; 
    font-size: 28px;
    line-height: 40px;
  }
  .contant-para{
    font-size: 16px;
  }

}
@media (max-width:380px)and (min-width:330px){
  .video-section{
    font-size: small;
  }
  .video-btn{
    font-size: x-small;
  }
  .video-button{
    margin-bottom:  15vh;
  }
  .watch-video-icon{
    display: none;
  }
  .contant-heading{
    font-family: 'Arvo', serif; 
    font-size: 24px;
    line-height: 35px;
  }
  .contant-para{
    font-size: 14px;
  }
}
@media (max-width:330px)and (min-width:0px){
  .video-section{
    font-size: small;
  }
  .video-btn{
    font-size: x-small;
  }
  .video-button{
    margin-bottom:  15vh;
    margin-top: 4vh;
  }
  .watch-video-icon{
    display: none;
  }
  .contant-heading{
    font-family: 'Arvo', serif; 
    font-size: 20px;
    line-height: 28px;
}
  .contant-para{
    font-size: 12px;
  }
  .video-list{
    margin: 0vh 2vh 0vh 2vh ;
  }
  .contant-para{
    margin: 2vh 1vh 0vh 2vh;
  }
}


/* ...............blog-details-page................  */
@media (max-width:430px)and (min-width:0px){
  .paraa{
    font-size: px;
  }
  .paraa h1{
    font-size: 40px;
  }
}
@media (max-width:992px)and (min-width:0px){
  .author-box-img{
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    align-items: center;
    margin-top: 10px;
  }
  .auther-txt{
    margin-left: 0vh;
    margin-right: 0vh;
    font-family: 'Arvo', serif;
   overflow: hidden;
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    align-items: center;
  }
  .auther-txt h4{
    margin-top: 20px;
  }

  .author-box{
    display: flex;
    flex-direction: column;
    margin: 2px;
  }
  .comment-form input  {
    width: 100%;
  }
  .auther-txt p{
    flex-direction: column;
    display: flex;
    height: 100%;
    width: 100%;
    align-items: center;
    justify-content: center;
  }

}
@media (max-width:1025px)and (min-width:0px){
  .author-box-img{
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    align-items: center;
    margin-top: 10px;
  }
  .auther-txt{
    margin-left: 0vh;
    margin-right: 0vh;
    font-family: 'Arvo', serif;
   overflow: hidden;
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    align-items: center;
  }
  .auther-txt h4{
    margin-top: 20px;
  }
  .auther-txt p{
    flex-direction: column;
    display: flex;
    height: 100%;
    width: 100%;
    align-items: center;
    justify-content: center;
  }

  .author-box{
    display: flex;
    flex-direction: column;
    margin: 2px;
  }
  .comment-form input  {
    width: 100%;
  }

  .auther-txt .authet-txt-para2{
    color: rgba(0, 0, 0, 0.600);
    margin-top: 0%;
  }

}

@media (max-width:600px) and (min-width:500px){
  .details-top-list ul li {
    font-size: 14px;
    margin-top: 2vh;
  }
}
@media (max-width:500px) and (min-width:425px){
  .details-top-list ul li {
    font-size: 12px;
    margin-top: 2vh;
  }
}
@media (max-width:425px) and (min-width:300px){
  .details-top-list ul li {
    font-size: 10px;
    margin-top: 2vh;
  }
}
@media (max-width:300px) and (min-width:30px){
  .details-top-list ul li {
    font-size: 6px;
    margin-top: 2vh;
  }
}


/* ......................Reservation-page............ */

@media (max-width:992px) and (min-width:768px){
  .reservation-heading h1 {
    font-size: 45px;
  }
  .reservation-heading   ::before{
    margin-top: 60px;
    }

}
@media (max-width:768px) and (min-width:410px){
  .reservation-heading h1 {
    font-size: 30px;
  }
  .reservation-heading   ::before{
    margin-top: 43px;
    }
}
@media (max-width:410px) and (min-width:358px){
  .reservation-heading h1 {
    font-size: 25px;
  }
  .reservation-heading   ::before{
    margin-top: 38px;
    }
}
@media (max-width:358px) and (min-width:300px){
  .reservation-heading h1 {
    font-size: 23px;
  }
  .reservation-heading   ::before{
    margin-top: 35px;
    }
}
@media (max-width:300px) and (min-width:0px){
  .reservation-heading h1 {
    font-size: 15px;
  }
  .reservation-heading   ::before{
    margin-top: 24px;
  }
}
@media (max-width:770px) and (min-width:500px){
  .form-table{
    margin-bottom: 40px;
    padding: 0px 80px 0px 80px;
  
  }
}
@media (max-width:500px) and (min-width:0px){
  .form-table{
    margin-bottom: 40px;
    padding: 0px 40px 0px 40px;
  
  }
}
@media (max-width:660px) and (min-width:340px){
  .reservation h6{
    font-size: large;
  }
  
  .reservation h1 {
    font-size: 50px;
  }
  
}
@media (max-width:340px) and (min-width:0px){
  .reservation span{
    margin-bottom: 2px;
   }
  .reservation h6{
    font-size: medium;
  }
  
  .reservation h1 {
    font-size: 30px;
  }
  
}

/* ....................Menu-page................ */
@media (max-width:400px) and (min-width:348){
  .menu-top-heading h1{
    font-size: x-large; }
}
@media (max-width:348px) and (min-width:0){
  .menu-top-heading h1{
    font-size: large;
   }

  .menu-top-heading p{
    font-size: small;
   }
}
@media (max-width:580px) and (min-width:0){

  .menu-lists{
    flex: 0 0 auto;
    width:120px;
    height:120px;
  }
  .menu-text h3{
    display: flex;
    font-size: 20px;
    /* line-height: 39px; */
  }
  .menu-text p {
    font-size: small;
  }
  .order p{
    font-size: large;
    color: #ffc107;
  }
  .menulist-2{
    margin-top: 10vh;
  }
  .menu-lists img{
    width: 130px;
    height: 130px;
  }
}



@media (max-width:430px) and (min-width:350){

  .menu-lists{
    flex: 0 0 auto;
    width: 110px;
    height: 110px;
  }
  .menu-text h3{
    font-size: 15px;
  }
  .menu-text p {
    font-size: small;
  }
  .order p{
    font-size: large;
    color: #ffc107;
  }
  .menulist-2{
    margin-top: 10vh;
  }
  .menu-lists img{
    width: 130px;
    height: 130px;
  }
}
@media (max-width:350px) and (min-width:0){

  .menu-lists{
    flex: 0 0 auto;
    width: 95px;
    height: 95px;
  }
  .menu-text h3{
    font-size: 12px;
  }
  .menu-text p {
    font-size: x-small;
  }
  .order p{
    font-size: medium;
    color: #ffc107;
  }
  .menulist-2{
    margin-top: 10vh;
  }
  .menu-lists img{
    width: 110px;
    height: 110px;
  }
}












