 @import url('https://fonts.googleapis.com/css2?family=Arvo:wght@700&display=swap');
 *{
   scroll-behavior: smooth;
   margin: 0%;
   padding: 0%;
  }

  /* .....navbar.....  */
.justify-content-center {
  justify-content: center!important;
}
.btn-close{
  font-size: xx-large;
  background-color: #ffc107;
}


.modal-header{
  border-bottom:none;
}
.dropdown:hover .dropdown-menu{
  display: block;
}
/* ...............................  */


 .searchbar{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  position: relative;
}
.modal-body{
  position: relative;
}
.modal-body i{
  font-size: xx-large;
  color: white;
}
.modal-body a{
  position: absolute;
} 
.search-input{
  width: 80%;
  outline: none;
  margin-top: 20vh;
  border: none;
  font-size:30px;
  background-color: black;
  border-bottom: 1px solid white;
  padding: 20px 0px 15px 10px;
  color: white;
  font-family: 'Arvo', serif;

}

.open-hours{
  border: 2px solid #ffc107;  
  position: relative;
  color:#ffc107;
  font-family: 'Arvo', serif;
  background-color: rgb(0, 0, 0);
  border-left: none;
  border-right: none;
}
.text{
text-align: center;
display: flex;
align-items: center;
justify-content: center;
flex-direction: column;
padding: 26px 0px 20px 0px;
position: relative;
overflow: hidden;
}
.text h6{
  position:absolute;
  transform: translateX(100%);
  animation: slide 15s linear infinite;
  overflow: hidden;
}
@keyframes slide{
	0% {
		transform: translateX(100%);
	}
	100% {
		transform: translateX(-100%);
	}
}
.nav-item{
  margin:  0px 8px 0px 8px;
  font-size: 3.5vh;
  font-family:Georgia, 'Times New Roman', Times, serif;
}

.navbar a{
  position: relative;
}
.navbar .nav-link::after{
content: '';
position: absolute;
height: 3px;
width: 0%;
left: 0;
margin-top: 35px;
background-color: #ffc107;
}
.navbar .nav-link:hover::after,
.navbar .nav-link.active::after{
  width: 100%;
  transition:0.50s ease-in-out;
}

.navbar a i{
  color: white;
  font-size: x-large;
  padding-right: 20px;
}
.navbar a i:hover{
  color: #ffc107;
  transition: all 0.50s;
}
.btns{
  border: 2px solid #ffc107;
  color:#ffc107;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  border-radius:50px;
  width: 14vh;
  height: 7vh;
}

.btns:hover{
  border: 3px solid white;
  color:black;
  background-color:#ffc107;
}

.togler{
  background-color: #ffc107;
  border: 2px solid white; 
}

/* .....banner.... . */

.banner{
background-image: url(../image/home-banner.jpg);
height: 92vh;
z-index: -50;
}

/* .....dropdown.... . */
.dropdown-item{
  color:white;
}

.dropdown-item:hover{
  background-color: #ffc107;
  color: black; 
}


/* .....banner-heading.... . */
.heading{
  font-size:60px;
  color: #ffc107;
  /* padding-top: 28vh; */
  font-family: 'Arvo', serif;
  padding-left: 30px;
  line-height: 75px;

} 
.aa{
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.heading-span{
  font-size:55px;
}

.heading-buttons{
  padding-left: 40px;
  padding-top: 20px;  
}

.heading-btn{
  font-family: 'Arvo', serif;
  padding: 9px 9px 9px 9px;
  font-size: large;
  background-color: #ffc107;
  border:3px solid white;
  color: black;
  margin-top: 18px;
  transition:all 0.5s;
}

.heading-btn:hover{
  border: 3px solid #ffc107;
  color:white;
  background-color: rgba(0, 0, 0, 0.700);
  transition: 0.75s;
  
}

/* .....banner-heading.... . */
.header-img{
width: 80vh;
margin-top: -13vh;
position: absolute;
padding-left: 10vh;
transition: transform 250ms;
height: auto;
}

.header-img:hover{
  transform: translateY(-10px);
}


.menu-heading{
  display: flex;
  justify-content: center;
  padding-top: 200vh;
  color:red;
}


/* ....Welcome.....  */
.welcome{
  padding-top:30px;
  position: relative;
}
.event-section-heading a {
  text-decoration: none;
}

.more{
  display: inline;
  color: black;
  font-family: 'Arvo', serif;
  transition: all 0.5s;
}
.more:hover{
  color: #ffc107;
}
.arrow{
  color: red;
  font-size: x-large;
  padding-left: 10px;
  margin-top: 30px;
}
/* ....speciality-Section.... */
.speciality-box{
  background-color:whitesmoke;
  position: relative;
  margin-top:50px;
  border-radius: 20px; 
  padding-top: 20px;
  padding-bottom: 10px;
}
.ok-hand-logo{
  width: 70px;
  align-items: center;
}
.card-sp-title{
  text-align: center;
}
.card-sp{
  border: none;
  height:auto;
}
.card-sp-body{
  background-color: whitesmoke;
  text-align: center;
}
.card-sp-text{
  color: rgba(0, 0, 0, 0.781);
}


.speciality-heading-line{
  color: black;
  display: block;
  height: 5px;
  border: 0;
  border-top:10px double  ;
  margin: 1em 0;
  margin-top: 300px;

}
.speciality-heading-line2{
  color: #ffc107;
  display:flex;
  align-items: center;
  height: 5px;
  border: 0;
  border-top:10px double  ;
  margin: 1em 0;

}
.offer-heading{
  font-family:'Arvo', serif;
  color: #ffc107;
  text-align: center;
  padding-top: 40px;
}


.special-offer-btn{
  background-color: #ffc107;
  border:2px solid white;
  font-family: 'Arvo', serif;
  color: black;
  margin: 20px;
  position: relative;
  font-size: 20px;
  border-radius: 10px;
}

.special-offer-btn:hover{
  background-color: transparent;
  border:2px solid #ffc107;
  color: #ffc107;
  transition: all 0.50s;
  position: relative;
  
}

/* ....footer.... */
footer{
  background-color:rgba(0, 0, 0, 0.830)

}
.main-footer-contant{
  display: flex;

}
h2{
  padding-top: 50px;
  padding-bottom: 10px;
  color: #ffc107;
  font-weight: bold;
  font-family: 'Arvo', serif;
  display: flex;
  font-size: x-large;
 }
/* ....right-box.... */



/* ....left-box.... */
.left-box{
  color:black;
  /* padding-left: 40px; */
}
.left-box-para{
  padding-top: 10px;
  font-size: large;
  color: white;

 }
 .left-box-heading{
  padding-left: 12px;
 }
 .social{
  margin: 40px 0px 40px 0px;

 }
.center-box .social a{
  padding: 0px 4px;
  color: white ;

}
.center-box .social a span{
  font-size: 25px;
  height: 40px;
  width: 40px;
  border: 1px solid #ffc107;
  text-align: center;
  line-height: 38px;
  border-radius: 5px;
}
.center-box .social a span:hover{
  background-color: #ffc107;
  color: white;
  transition: all 0.5s;
  
}

/* ....center-box.... */
.footer-logo{
  margin-top: 50px;
}
.footer-logo-div{
  align-items: center;
}
.left-boxa-para{
  color: #ffc107;
  font-family: 'Arvo', serif;
  padding-top: 23px;

}
.left-boxo-para{
  color: white;
  font-family: 'Arvo', serif;
}

.center-box-heading{
   color: #ffc107;
   text-transform:uppercase;
   font-family: 'Arvo', serif;
   font-weight: bold;
}
.center-box-para{
  padding-top: 10px;
  line-height: 27px;
  color:rgba(255, 255, 255, 0.900);
  font-size:large;

}
.center-box-heading-div{
  line-height:15px;
  padding-top: 15px;
  font-family: 'Arvo', serif;
  
}

.left-box-links{
  color: #ffc107;
}
.left-box-links ul  a{
  text-decoration: none;
  font-family: 'Arvo', serif;
  color:rgba(255, 255, 255, 0.900);
  line-height: 36px;
  font-size: large;
}
.left-box-links ul{
  padding-top: 8px;
}
.left-box-links ul a:hover{
  color: #ffc107;
  transition: all 0.5s;
}

  .copyright{
    border-top: 0.50px solid rgba(255, 255, 255, 0.39);
    color: rgba(255, 255, 255, 0.568);
    padding-top: 20px;
    padding-bottom: 10px;
    text-align:center;
    font-size: larger;
    display: flex;
     justify-content: space-between;
     padding-left: 30px;
  }
  .copyrighta{
    display: inline-block;
    margin-left: 20px;
   
  }
  .copyright a span{
    color: rgba(255, 255, 255, 0.568);

  }
  .copyright a{
    text-decoration: none;
  }
  .copyright a span:hover{
   color: #ffc107;
   transition: 0.50s;
  }
   /* ....menu-section.... */
   .menu-selecter{
    font-family: 'Arvo', serif;
    font-size: 50px;
    color: white;
   }
.home-menu a{
  text-decoration: none;
  color:white;
  font-family: 'Arvo', serif;
  font-size: larger;
}


  .lunch-menu{
    border: 1px solid transparent;
    height: 370px;
    background-image: url(../image/lunch-img-edit.jpg);
    background-repeat: no-repeat;
    border-radius: 15px; 
    margin-bottom: 25px;
  }
   
  .lunch-menu-inner{
    border: 2px solid #ffc107;
    color: white;
    height: 330px;
    margin:20px;
  }

  .dinner-menu{
    border: 1px solid transparent;
    height: 370px;
    background-image: url(../image/Dinner-img.jpg);
    background-repeat: no-repeat;
    border-radius: 10px;
    margin-bottom: 25px;
  }
  .bar-menu{
    border: 1px solid transparent;
    height: 370px;
    background-image: url(../image/bar-img.jpg);
    background-repeat: no-repeat;
    border-radius: 10px;
    margin-bottom: 25px;
  }
  .dessert-menu{
    border: 1px solid transparent;
    height: 370px;
    background-image: url(../image/dessert-img.jpg);
    background-repeat: no-repeat;
    border-radius: 10px;
    margin-bottom: 25px;
  }
  .lunch-text{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

  }
  .lunch-text a:hover{
     color: #ffc107;
     text-decoration: underline;
     text-decoration-color: #ffc107;
     transition: 0.50s;
  }
  .lunch-menu-inner:hover{
    background-color: rgba(0, 0, 0, 0.425);

    transition: all 0.5s;
  }
  


   /* ....upcoming-event-section.... */
.upcoming-event-section{
  margin-top: 20px;
}
.event-section-heading{
  color: aliceblue;
}
.upcoming-event{
  color: #ffc107;
  font-size: 56px;
  font-family: 'Arvo', serif;
  font-weight: bold;
}
.event-section-img{
  width: 100%;
  height: auto;
}

.event-para{
  color: red;
  font-family: 'Arvo', serif;
  font-size: 25px;
  line-height: 2.5rem;
  font-weight: bold;
  margin-top:25px;
}
.event-para-line{
  color: #ffc107;
  margin: 0px 10px 0px 10px;
}
.event-2ndpara{
  color: rgba(0, 0, 0, 0.744);
  font-size: larger;
  margin-top: 25px;
  line-height: 30px;
  font-family: Arial, Helvetica, sans-serif;
}
.event-btn{
  font-family: 'Arvo', serif;
  padding: 12px 12px 12px 12px;
  font-size: x-large;
  background-color: #ffc107;
  border:3px solid white;
  color: black;
  margin-top: 18px;
  border-radius: 20px;
  text-align: center;
  border: 3px solid rgba(0, 0, 0, 0.425);
  transition: all 0.5s;
  margin-top: 30px;
   margin-bottom: 20px;
}
.event-btn:hover{
  color: white;
  border: 3px solid #ffc107;
  color: #ffc107;
  background-color: white;
}

.map{
  height: 100vh;
  touch-action: pan-x pan-y;
  border-top: none;
}
.map-heading{
  color: #ffc107;
  font-size: 40px;
  font-family: 'Arvo', serif;
  text-align: center;
  /* border: 2px solid black; */
  border-top:none;
  background-color: rgba(0, 0, 0, 0.830);
  padding-top: 10px;
  padding-bottom: 10px;
  margin: 0% ;
}
.map-border{
  border: 10px double rgba(0, 0, 0, 0.830);
  margin-bottom: 20px;
}



.blog-section{
  display: flex;
  justify-content: center;
}
.card-blog{
  height: auto;
}
.blog-img{
  width: 100%;
  height: auto;
  border: 1px solid #ffc107;
  padding: 10px 10px 10px 10px;
}
.blog-img:hover{
  transform: scale(1.01);
  transition: 0.50s;
}
.blog-name{
  content: "";
  height: 5%;
  width: 30%;
  position: absolute;
  overflow: hidden;
  background-color: white;
  z-index: 100;
  margin-top: 6%;
  border-left: 1px solid #ffc107 ;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Arvo', serif;
  color: black;
  font-size: 13px;
}
.blog-name:hover{
  background-color: #ffc107;
  color:black ;
  transition: all 0.5s;

}

.card-body-blog{
  padding-top: 20px;
  padding-bottom: 50px;
  font-family: 'Arvo', serif;

}
.card-title-blog{
  font-size: small;
  color: #ffc107;
}
.card-title-blog a{
text-decoration: none;
color: black;
font-weight: bolder;

}
.card-title-blog a:hover{
  color: #ffc107;
  transition: 0.50s;
}
.card-text-blog{
  color:rgb(15, 13, 13);
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}
.btn-blog{
  color: #ffc107;
  border: 3px solid #ffc107;
  background-color: rgba(0, 0, 0, 0.800);
  border-radius: 30px;
  padding: 15px 15px 15px 15px;
  font-weight: bold;
}
.btn-blog:hover{
  color: black;
  border:3px solid black;
  background-color: #ffc107;
  transition: all 0.50s;
}
.blog-heading{
  text-align: center;
  font-family: 'Arvo', serif;
  color: rgb(41, 35, 35);
  font-size: large;
  margin-top: 10vh;
  
}
.blog-heading2{
  color: #ffc107;
  text-align: center;
  font-family: 'Arvo', serif;
  font-size: 40px;
}
.Our-chef-after{
  margin: 40px 0px 40px 0px;
}

/* ...............................blog-page-start...............................  */
.blog-banner-heading h1{
 font-size: 100px;
}
.blog-welcome-heading{
  color:white;
  font-family: 'Arvo', serif;
  font-size: 50px;
}
.blog-div{
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}
.blog{
  color: #ffc107;
  font-size: 80px;
  font-family: 'Arvo', serif;
}


/* .....Pagination.....  */
.blog-1st-page{
  padding-top: 10vh;

}
.blog-cards{
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

}
.pagination{
  padding-bottom: -40px;
  padding-top: 30px;
  position: relative;
}
.page-item a {
  color:#ffc107;
  border:2px solid #ffc107;
  font-size: larger;
  background-color: rgba(0, 0, 0, 0.830);
  font-family: 'Arvo', serif;
}

.page-item a:hover{
  color: black;
  background-color: #ffc107;
  border: 2px solid black;
  transition: 0.50s;
}

.bg-banner{
  background-image: url(../image/Blog-Page-Banner-2.jpg);
  height:100vh;
  background-repeat: no-repeat;
  background-attachment: fixed;
  z-index: -50;
}


/* ...............................Contact Us...............................  */

  
  .contact-page-banner{
    /* background-image: url(../image/Contact\ page-banner.jpg); */
    background-image: url(../image/blog-details-banner.jpg);
    height:85vh;
    background-repeat: no-repeat;
    z-index: -50;
    background-attachment: fixed;
  }

  .contact-page-banner::before{
    content: "";
    height:85vh;
    width: 100%;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.425);

  }
.contact-us-heading{
  color:white;
  font-family: 'Arvo', serif;
  font-size: 70px;
  position: relative;
}
.contact-page-banner a {
  text-decoration: none;
  color: white
}
.contact-page-banner a:hover{
  text-decoration: underline;
  transition: all 0.50s;

}

.contact-page-heading{
  font-size: larger;
  color: rgba(255, 255, 255, 0.749);
  position: relative;
}
.contact-div{
  height: 100%;
  width: 100%;
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
}
.contact-div div{
  display: flex;
  flex-direction: row;
}

.contact-page-map{
  width: 100%;
  height: 60vh;
  border: 10px double rgba(0, 0, 0, 0.66);
  border: 10px double #ffc107;
  border-radius: 10px;
}
.contact-details{
  border: 2px solid red;
  
}
.contact{
  margin-top:15vh;
  margin-right: 20px;
  margin-left: 20px;
}

/* ....contact -form....  */

.contact-form-heading{
  color: black;
  font-family: 'Arvo', serif;
  display: flex;
  justify-content: center;
}


.contact-form{
  display: flex;
  flex-direction: column;
  width: 100%;
}

.name{
  border: none;
  height: 6vh;
  width: 100%;
  margin-top: 20px;
  border: 3px solid rgba(0, 0, 0, 0.900);
  border-radius: 3px;
  padding: 20px 10px 20px 10px;
  font-size: larger;
  font-family: 'Arvo', serif;
  color: black;
  background-color: #ffc107;


  
}
.textarea{
  color: rgba(0, 0, 0, 0.900);
  height: 15vh;
  width: 100%;
  margin-top: 20px;
  border: none;
  padding: 10px;
  font-size: larger;
  border: 3px solid black;
  border-radius: 3px;
  font-family: 'Arvo', serif;
  background-color: #ffc107;

}
.name::placeholder {
  color:rgba(0, 0, 0, 0.800);
}
.textarea::placeholder{
  color:rgba(0, 0, 0, 0.800);
}

.contact-us-form-btn{
  width: 100%;
  font-family: 'Arvo', serif;
  border: 3px solid black;
  margin-top: 10px;
  color: black;
  font-size:x-large;
  padding: 2px;
  background-color: #ffc107;
}

.contact-us-form-btn:hover{
  color: #ffc107;
  background-color:rgba(0, 0, 0, 0.850);
  border-color: #ffc107;
  transition: all 0.50s;
}

/* .....location......  */
.contact-page-details{
  margin: 100px 20px 50px 20px;
  padding: 20px 20px 20px 20px;
  background-color: whitesmoke;
}
.contact-adress{
  background-color:#ffc107;
  padding: 30px 10px 40px 10px;
  border: 10px double white;
}
.contact-adress:hover{
  transition: all 10s;
  background-color: white;
  border: 4px solid rgba(0, 0, 0, 0.900);
}
.location-icon i{
  color: #ffc107;
}
.location-icon{
  font-size: 10vh;
  text-align: center;

}
.location-icon i {
  color:rgba(0, 0, 0, 0.900);
}
.location-txt{
  text-align: center;
  font-family: 'Arvo', serif;
  color: rgba(0, 0, 0, 0.900);
}
/* ..........................................  */

/* ...............................About us page...............................  */

.speciality-box{
  box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.150),
  -10px -10px 5px 0px rgba(0,0,0,0.150);
}
.about-speciality-heading{
  text-align: center;
  font-family: 'Arvo', serif;
  color: rgba(0, 0, 0, 0.767);
  margin-top: 10vh;
}
.Our-Speciality{
  margin-top: 3vh;
  margin-bottom: 5vh;
}

.about-us-fix-img{
  background-image:url(../image/about\ us\ page-fix-img.jpg) ;
  height: 70vh;
  background-attachment: fixed;
  background-size: cover;
  width: 100%;
  border: 10px solid #ffc107;
  position: relative;
}
.about-us-fix-img::after{
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.730);
  margin: auto;
  left: 0%;
  right: 0%;
  top: 0%;
  bottom: 0%;
}
.fix-img-text{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;

}
.fix-img-text h3{
  font-family: 'Arvo', serif;
  color: #ffc107;
  position: relative;
  z-index: 300;
  text-align: center;
  padding-left: 10px;
  padding-right: 10px;

}
.chefs-heading{
  color:white;
  text-align: center;
  font-family: 'Arvo', serif;

}
.our-chefs{
  border:10px double black;
  padding:  130px 0px 130px 0px ;
  background-color: #ffc107;
  margin-top: 50px

}

/* ......chef-card......  */
.chef-card{
  border-color: transparent;
  margin: 10px 0px 10px 0px;
  border: none;
}
.card-img-top{
  
  padding: 5px 5px 5px 5px;
  border: 2px solid #ffc107;
  border-radius: 0px;
  box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.100),
  -5px -5px 5px 5px rgba(0,0,0,0.100);
}
.card .chef-contant::before{
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.130);
  margin: auto;
  left: 0%;
  right: 0%;
  top: 0%;
  bottom: 0%;
  visibility: hidden;
}
.card:hover .chef-contant::before{
  visibility: visible;
  transition: all 2s;
}

.card .chef-txt{
  position: absolute;
  margin: auto;
  height: 100%;
  width: 75%;
  top: 0px;
  bottom: 0px;
  background-color: transparent;
  margin-left: 15px;
  display: flex;
  flex-direction: column;;
  justify-content: flex-end;
  margin-bottom: 2vh;
  visibility: hidden;
}
.card:hover .chef-txt{
  visibility: visible;
  transform: translateX(5px) translateY(5px) ;
  transition: all 1s;

  
}
.chef-name{
  color: rgba(0, 0, 0, 0.795);
  background-color: white;
  font-family: 'Arvo', serif;
  padding: 7px 0px 7px 0px;
  text-align: center;
  margin: 0px;
  border-radius: 3px;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
}
.chef-work{
  font-family: 'Arvo', serif;
  width: 65%;
  color: rgba(0, 0, 0, 0.850);
  background-color: #ffc107;
  text-align: center;
  display: inline-block;
  margin-top: 1px;
  padding: 3px 0px 3px 0px;
  border-radius: 3px;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
}

.btn-chefs{
  margin-top: 30px;
  width: auto;
  max-width: auto;
  display: flex;
  justify-content:center ;

}
.btn-chef{
  border: 1px solid transparent;
  background-color: rgb(0, 0, 0);
  font-family: 'Arvo', serif;
  text-align: center;
  color: white;
  font-size: large;
  padding: 12px 20px 12px 20px;
  margin-bottom: 20px;
  border-radius: 8px; 
}
.btn-chef:hover{
  background-color: white;
  color: black;
  transition: all 0.50s;
  box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.100);
}

/* .......about-us-video.......  */
.img-div{
height: 100%;
width: 100%;
margin-top: 10vh;
}
.img-video{
  width: 100%;
  height: auto;
  position:relative;
}

.video-contant{
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-top: 9vh;
}

.video-section{
  font-size: x-large;
}

.watch-videos-txt{
  display: flex;
  margin: 2vh;
}
.video-title{
  font-family: 'Arvo', serif;
  color: #ffc107;
}
.watch-video-icon{
  height: auto;
  width: 40px;
}
.contant-heading{
  font-family: 'Arvo', serif;
  font-size: xx-large;
  color: rgba(0, 0, 0, 0.800);
  line-height: 45px;
  margin: 0vh 2vh 0vh 2vh;
}
.contant-para{
  margin: 2vh;
  color: rgba(0, 0, 0, 0.700);
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.video-txt-list{
  font-family: 'Arvo', serif;
  margin-top: 3vh;
}
.video-txt-list2{
  font-family: 'Arvo', serif;
  margin-top: 2vh;
}
.video-check-icon{
  color: #ffc107;
}

.video-list{

  margin: 0vh 2vh 0vh 2vh;
}
.video-list-txt{
  color: rgba(0, 0, 0, 0.750);
}

/* .....video-button.....  */
.video-button{
  margin: 5vh 2vh;
}
.video-btn{
  border: 3px solid black;
  color: black;
  background-color: #ffc107;
  font-family: 'Arvo', serif;
  font-size: large;
  border-radius: 5px;
  padding: 8px 17px 8px 17px;
}
.video-btn:hover{
  background-color: rgba(0, 0, 0, 0.800);
  color: #ffc107;
  transition: 0.75s;
  border-color: #ffc107;
}


/* ....................blog-details-page............  */

.reservation a {
  text-decoration: none;
  color: white
}
.reservation a:hover{
  text-decoration: underline;
  transition: all 0.50s;

}

.reservation h6{
  font-size: larger;
  color: rgba(255, 255, 255, 0.749);
  position: relative;
}

.reservation h1 {
  color:white;
  font-family: 'Arvo', serif;
  font-size: 70px;
  position: relative;
}


.blog-details-page-banner{
  background-image: url(../image/blog-details-banner.jpg);
  height:85vh;
  background-repeat: no-repeat;
  z-index: -50;
  background-attachment: fixed;

}

.blog-details-page-banner::before{
  content: "";
  height:85vh;
  width: 100%;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.1);
}
.contact-page-banner a {
  text-decoration: none;
  color: white
}
.contact-page-banner a:hover{
  text-decoration: underline;
  transition: all 0.50s;
}
/* .........single-blog.........  */
.blog-detail-img img{
  height: auto;
  width: 100%;
  margin-top: 5vh;
  position: relative;
}

.post-date{
  position: absolute;
  bottom: -70vh;
  right: 76vh;
}
.post-date-a {
  position: relative;
  display: flex;
  flex-direction: column;
  line-height: 4vh;
  font-family: 'Arvo', serif;
  text-decoration: none;
  text-align: center;
  background-color:#ffc107;
  color:black;
  font-size: 30px;
  border-radius: 6px;
  padding: 10px 17px 10px 17px;
  box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.150),
  -10px -10px 5px 0px rgba(0,0,0,0.150);
}
.post-date-a span{
  font-size: medium;
}
.post-date-a:hover{
  color: white;
  transition: all 0.50s;
}
.blog-detais-btn{
  border:2px solid black;
  font-family: 'Arvo', serif;
  background-color: #ffc107;
  color: black;
  padding: 1px 10px 1px 10px;
  border-radius: 5px;
}
.blog-detais-btn:hover{
  color: #ffc107;
  background-color: rgba(0, 0, 0, 0.800);
  border-color: #ffc107;
  transition: all 0.50s;
}
.details-top-list ul {
  display: flex;
  height: 100%;
  width: 100%;
  margin: 0%;
  padding: 0%;
  
}
.details-top-list ul li {
  font-family: 'Arvo', serif;
  text-decoration: none;
  list-style-type:none;
  margin-top: 4vh;
  margin-inline-end: 20px;
}
.details-top-list ul li a{
  text-decoration: none;
  color: rgba(0, 0, 0, 0.500);
  margin-left: 1vh;
}
.details-top-list ul li  :hover{
  color: #ffc107;
  transition: all 0.50s;
}


/* .....blog-details-heading......  */
.blog-details-heading h4{
  font-family: 'Arvo', serif;
  color: rgba(0, 0, 0, 0.650);
  margin-top: 3vh;
}
.blog-details-para{
  font-family: 'Arvo', serif;
  color: rgba(0, 0, 0, 0.500);
  margin-top: 2vh;
}
.blog-details-para2{
  font-family: 'Arvo', serif;
  color: rgba(0, 0, 0, 0.500);

}

.readmore-btn{
  font-family: 'Arvo', serif;
  color:  black;
  border: 3px solid black;
  background-color: #ffc107;
}
.readmore-btn:hover{
  color: #ffc107;
  background-color: rgba(0, 0, 0, 0.800);
  border-color: #ffc107;
  transition: all 0.50s;
}


.blog-info-box{
  border-left: 4px solid #ffc107;
  background-color:whitesmoke;
  font-family: 'Arvo', serif;
  color: rgba(0, 0, 0, 0.550);
  padding:4vh 4vh 2vh 4vh;
  margin: 4vh 0vh 4vh 0vh;
  border-radius: 10px;
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
}
.blog-info-box h5{
  line-height: 5vh;
}
.blog-info-box p{
  font-family: 'Arvo', serif;
  color: rgba(0, 0, 0, 0.700);
  margin-top: 2vh;
}
.blog-info-box i{
 color: black;
 margin-right: 2vh;
}
.share{
  font-family: 'Arvo', serif;
  color: rgba(0, 0, 0, 0.750);
  display: flex;
  align-items: center;
  margin-top: 8vh;
}
.share a{
  text-decoration: none;
  color: rgba(0, 0, 0, 0.600);
}
.share a:hover{
  color: #ffc107;
  transition: all 0.50s;
}
.share span{
  margin-left: 5px;
}
.tags{
  margin-top: 1vh;
}
.tags span{
  margin-left: 5px;
}
.tags a{
  margin-left: 13px;
  color:#ffc107;
  font-size:35px;
}
.blog-icons {
  height: 50px;
  width: 35px;
  padding: 3%;
  margin: 0%;
}
.tags a:hover{
 color: black;
 transition: all 0.50s;
}

/* .......auther-details......  */

.author-details{
  border: 10px double black;
  background-color: #ffc107;
  position: relative;
  margin-top: 5vh;
  height: 100%;
  width: 100%;

}

.author-box{
  margin: 5vh;
  display: flex;
}


.author-box img {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  position: relative;
}

.auther-txt{
  margin-left: 4vh;
  margin-right: 8vh;
  font-family: 'Arvo', serif;
  margin-bottom:0%;
  overflow: hidden;

}
.authet-txt-para{
  color: rgba(0, 0, 0, 0.700);
}
.auther-txt .authet-txt-para2{
  color: rgba(0, 0, 0, 0.600);
}


/* ......blog-prev......  */
.blog-post img {
  position: relative;
  overflow: hidden;
  -webkit-box-flex: 0;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  width: 80px;
  height: 80px;
  -webkit-margin-end: 25px;
  margin-inline-end: 25px;
}
/* ....blog-comments-form.....  */
.blog-form{
  padding: 50px;
  background-color: whitesmoke;
  margin-top: 5vh;
}
.comment-form input  {
  width: 49.5%;
}

.comment-form input ,.comment-form textarea {
  margin-top: 18px;
}
.comment-form input ,.comment-form textarea {
  border: 2px solid black;
  background-color: #ffc107;
  padding: 18px 18px 18px 18px;
  font-family: 'Arvo', serif;
  border-radius: 5px;
}
.comment-form ::placeholder{
  color: rgba(0, 0, 0, 0.700);
}
.blog-form h3 {
  font-family: 'Arvo', serif;
  color:rgba(0, 0, 0, 0.800)
}
.blog-form textarea {
  width: 100%;
  height: 130px;
}
.comment-form button{
  border:2px solid rgba(0, 0, 0, 0.700);
  background-color: #ffc107;
  font-family: 'Arvo', serif;
  margin-top: 18px;
}
.comment-form .btn:hover{
  color:#ffc107;
  border-color: #ffc107;
  background-color: rgba(0, 0, 0, 0.800);
  transition: all 0.50s;
}


/* ......blog-search-bar.......  */
.blog-search-bar i{
  color: black;
  position:absolute;
  padding-top:15px ;
  padding-right: 15px;
}
.blog-search-bar a{
  height:100;
  width: 100%;
  display: flex;
  justify-content: flex-end;
}
.blog-category-boxs{
  height: 300vh;
  padding: 0px 20px;
  margin-top: 5vh;
}
.blog-search-bar form input:focus{
  outline: none;
}
.blog-search-bar form input{
  width: 100%;
  font-family: 'Arvo', serif;
  padding: 10px;
  background-color:#ffc107;
  color: black;
  border: 2px solid black;
  border-radius: 5px;
  z-index: -50;
}
.blog-search-bar form input::placeholder{
  color: black;
}
/* ...... categoty .....  */
.blog-Category{
  background-color: #ffc107;
  font-family: 'Arvo', serif;
  border: 10px double black ;
  margin-top: 30px;
}
.blog-Category ul{
  list-style-type: none;
  padding: 0%;
  

}
.categoty-txt{
  padding: 8%;
}
.blog-Category ul a{
  text-decoration: none;
  border-bottom:  2px solid white;
  display: block;
  font-size: 20px;
  padding-bottom: 10px;
  padding-top: 25px;
  color: rgba(0, 0, 0, 0.904);
}
.blog-Category ul a:hover{
  color:white;
  border-color: black;
  transition: all 0.75s;
}

/* .....recent-news......  */
.blog-new-news{
  background-color: #ffc107;
  font-family: 'Arvo', serif;
  border: 10px double black ;
  margin-top: 30px;
}
.blog-news-txt{
  padding: 8%;
}
.blog-new-news ul{
  list-style-type: none;
  padding: 0%;
}
.recent-news {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  border-bottom: 2px solid white;
  padding-bottom: 20px;
  margin-top: 50px;
}
.recent-blog-divs :hover{
  transition: all 0.50s;
  border-color: black;
}
.blog-news-date span{
  padding-right: 20px;
}
.recent-news img {
  border-radius: 50%;
  width: 80px;
  height: 80px;
}
.recent-news a{
  text-decoration: none;
  color: rgba(0, 0, 0, 0.700);
}
.recent-news h6 {
  padding-left:20px;
}
.recent-news i {
  padding-left:20px;
  padding-right: 6px;
  display: inline;
}
.recent-news-txt span :hover{
  color: white;
  transition: all 0.50s;
}

/* ........line-break.....  */
.line-break {
  width:100%  ;
  border: 10px double black;
  overflow: hidden;
  margin-top: 5vh;
}

/* ........line-break.....  */
.popular-tags{
  background-color: black;
  font-family: 'Arvo', serif;
  border: 10px double #ffc107 ;
  margin-top: 30px;
}

.popular-tags-txt{
  padding: 8% 5% 8% 5%;
}
.popular-tags-txt h4{
  color: #ffc107;
}
.popular-tags-txt button{
  font-size: large;
  color:#ffc107;
  border: 2px solid white;
  margin:8px 0px 4px 0px;
}
.popular-tags-txt button:hover{
  color: white;
  border-color:#ffc107;
}

/* ......................Reservation-form...........  */
.form-table{
  margin-bottom: 40px;
  padding: 0px 120px 0px 120px;

}
.reservation-heading{
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  margin-top: 20px;
  margin-bottom: 40px;
}

.reservation-heading h1 {
  font-family: 'Arvo', serif;
  font-size: 50px;
  position: relative;
  border-bottom: 3px solid black;
}

.reservation-heading   ::before{
  content: '';
  position: absolute;
  height: 6px;
  width:100%;
  left: 0;
  margin-top: 66px;
  background-color: #ffc107;
  }


/* ...............................  */
.reservation-form {
  font-family: 'Arvo', serif;
  color: rgba(0, 0, 0, 0.800);
}
.reservation-form input{
  width: 100%;
  height: 40px;
  border: 2px solid rgba(0, 0, 0, 0.600);
  outline: none;
  padding:25px 5px 25px 25px;
  color: rgba(0, 0, 0, 0.800);
  background-color: #ffc107;
  
}
.reservation-form textarea {
  border: 2px solid rgba(0, 0, 0, 0.600);
  width: 100%;
  background-color: #ffc107;
  padding: 10px;
}
.reservation-form label{
  margin-top: 10px;
}

.reservation-form ::placeholder{
  color: rgba(0, 0, 0, 0.600);
}
.reservation-form textarea ::placeholder{
  color: rgba(0, 0, 0, 0.800);
}
.reservation-form .bnt{
  margin-top: 20px;
  display: flex;
  height: 100%;
  width: 100%;
  justify-content: center;
  align-items:center;
  flex-direction: column;
}

.reservation-form button{
  color:#ffc107;
  background-color: black;
  border:2px solid #ffc107;
  font-size: x-large;
}
.reservation-form button:hover {
  color:black;
  background-color: #ffc107;
  border:3px solid black
}

/* ................menu-page.................  */

.menu-top-heading{
  margin-top: 30px;
  font-family: 'Arvo', serif;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  line-height: 2px;
}

.menu-top-heading p{
  color: #ffc107;
  text-transform: uppercase;

}
/* .........menu-start........  */
.menu-1 img{
  position: relative;
}
.menu-items{
  margin-top: 60px;
}

.menu-details{
  display: flex;
  -webkit-box-orient: inherit;
  -webkit-box-direction: inherit;
  -ms-flex-direction: inherit;
  flex-direction: inherit;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.menu-lists{
  flex: 0 0 auto;
  width: 150px;
  height: 150px;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  -webkit-filter: drop-shadow(0px 10px 60px rgba(0, 0, 0, 0.650));
  filter: drop-shadow(0px 10px 60px rgba(0, 0, 0, 0.6));
  -webkit-margin-end: 30px;
  margin-inline-end: 30px;
}
.menu-1 img{
  border:3px solid #ffc107;
  width: 100%;
  height: auto;
  position: relative;
}
.menu-text{
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  font-family: 'Arvo', serif;
}
.menu-text .dot-border{
  display: inline;
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  border-bottom: 1px dashed;
  margin-bottom: 10px;
}

.menu-text .doller{
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.menu-text .price{
  float: right;
  color: rgba(0, 0, 0, 0.700);
}
.menu-text .price:hover{
  color: #ffc107;
}
.menu-text h3 a{
  text-decoration: none;
  display: inline;
  color: rgba(0, 0, 0, 0.700)
}
.menu-text h3 a:hover{
  color: #ffc107;
  transition: 0.50s;
}
.menu-text h3{
  display: flex;
  font-size: 30px;
}
.menu-text p {
  color: rgba(0, 0, 0, 0.500)
}

.order{
  margin-top: 10px;
}
.order a{
  text-decoration: none;
  margin-left: 6px;
}
.order p{
  font-size: larger;
  color: #ffc107;
  display: inline;
}
.order p:hover{
  color: rgba(0, 0, 0, 0.60);
}
.order i{
  font-size: larger;
  display: inline;
}

.menulist-2{
  margin-top: 20vh;
}
#booking-form{
  margin-top: 30px;
}
.hr p{
  border: 10px double rgba(0, 0, 0, 0.800);
  margin-top: 40px;
}